.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/



_rel/
config/
ebin/
erlang.mk
relx.config
.erlang.mk
_cache_server
cache_server.d
deps
ebin/*.beam
ebin/test
logs
relx
test/*.beam
